<h1><%= @total %> Total Stores</h1>

<% @stores.each do |store| %>
  <div class="store-info" id="store-<%= store.id %>">
    <h5><%= store.name %></h5>
    <p><%= store.city %></p>
    <p><%= store.distance %> miles</p>
    <p><%= store.phone %></p>
    <p>Store Type: <%= store.store_type %></p>
  </div>

<% end %>
